/*.d
/*.o
/.version
/hwstamp_ctl
/nsm
/phc2sys
/pmc
/ptp4l
/phc_ctl
/timemaster
/ts2phc
/tz2alt

# cmake
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json