#
# Unicast master example configuration containing those attributes
# which differ from the defaults.  See the file, default.cfg, for the
# complete list of available options.
#
[global]
hybrid_e2e			1
inhibit_multicast_service	1
unicast_listen			1
